/* Seccion de cines */

#cines {
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  max-width: 420px;
  border-radius: 5px;
}