header nav ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.informacion {
    display: grid;
    grid-gap: 10px;
    padding: 20px;
}

.poster {
    width: 70%;
    max-width: 700px;
    height: auto;
    object-fit: cover;
}

.asientos-container{
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 100%; /* Define un máximo ancho del 100% */
    min-width: 300px;
}

.fila {
    display: inline-flex;

    grid-gap: 5px;
    padding: 10px;
  }
  
  .fila .asientos {
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    font-size: small;
  }
  
      .asiento {
        width: 30px!important;
        height: 35px!important;
        background-color: transparent;
        border: none;
        box-shadow: none;
        cursor: pointer;
        background-image: url(../assets/asientos/seat01.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
      
      }
      
      .asiento.selecionado {
       background-image: url(../assets/asientos/seat02.png);
       
      }
      .asiento.selecionado:hover {

        transform: scale(1.1);

        
       }

      .asiento.ocupado {
        background-image: url(../assets/asientos/xseat03.png.pagespeed.ic.7nmcHmpsUM.webp);
        }
  
      .asiento.disponible {
        background-image: url(../assets/asientos/seat01.png);

        }

      .asiento.mouse{
        background-image: url(../assets/asientos/seat03.png);
      }

        .tooltip {
          position: absolute;
          background-color: #fff;
          border: 1px solid #ddd;
          padding: 5px;
          display: none;
          z-index: 1;
        }
        
        .leyenda-asientos {
          background-color: #eae2b7; /* fondo claro */
          padding: 20px; /* espacio entre el contenido y el borde */
        }

        .leyenda-asientos h3 {
          font-size: 35px; /* tamaño del título */
          margin-bottom: 10px; /* espacio entre el título y la lista */
          text-align: center;
        }
        
        .leyenda-asientos ul {
          list-style: none; /* quita los puntos de la lista */
          margin: 0; /* quita el margen superior */
          padding: 0; /* quita el padding superior */
          display: flex; /* hace que los elementos se muestren en fila */
          justify-content: space-between; /* distribuye los elementos de manera uniforme */
        }
        
        .leyenda-asientos li {
          margin-right: 20px; /* espacio entre los elementos */
        }
        
        .leyenda-asientos img {
          width: 40px; /* ancho de las imágenes */
          height: 40px; /* alto de las imágenes */
          margin-right: 10px; /* espacio entre la imagen y el texto */
        }
        
        .leyenda-asientos span {
          font-size: 16px; /* tamaño del texto */
          font-weight: bold; /* texto en negrita */
        }

