header nav ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.informacion {
    display: grid;
    grid-gap: 10px;
    padding: 20px;
}

.poster {
    width: 70%;
    max-width: 700px;
    height: auto;
    object-fit: cover;
}

.asientos-container{
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 100%; /* Define un máximo ancho del 100% */
    min-width: 300px;
}

.fila {
    display: inline-flex;

    grid-gap: 5px;
    padding: 10px;
  }
  
  .fila .asientos {
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    font-size: small;
  }
  
      .asiento {
        width: 30px!important;
        height: 35px!important;
        background-color: transparent;
        border: none;
        box-shadow: none;
        cursor: pointer;
        background-image: url(../assets/asientos/seat01.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
      
      }
      
      .asiento.selecionado {
       background-image: url(../assets/asientos/seat02.png);
       
      }
      .asiento.selecionado:hover {
        width: 35px;
        height: 40px;
        
       }

      .asiento.ocupado {
        background-image: url(../assets/asientos/xseat03.png.pagespeed.ic.7nmcHmpsUM.webp);
        }
  
      .asiento.disponible {
        background-image: url(../assets/asientos/seat01.png);
        }

        .tooltip {
          position: absolute;
          background-color: #fff;
          border: 1px solid #ddd;
          padding: 5px;
          display: none;
          z-index: 1;
        }
        