.asientos-container{
    display: grid;
    grid-gap: 10px;
    padding: 20px;
}

.fila {
    display: inline-flex;

    grid-gap: 5px;
    padding: 10px;
  }
  
  .fila .asientos {
    display: grid;
    grid-gap: 10px;
    padding: 20px;
  }
  
      .asiento {
      width: 15px;
      height: 15px;
      background-color: #ccc;
      border: 1px solid #000;
      }
  
      .asiento.ocupado {
      background-color: #f00;
      }
  
      .asiento.seleccionado {
      background-color: #0f0;
        }