.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  max-width: 320px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}


