        /* Estilo general para el switch */

        .switch {
            position: relative;
            display: inline-block;    
            width: 60px;    
            height: 34px; 
        }
        
        /* Ocultar el input checkbox */
        
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        /* Estilo para el slider */
        
        .slider {    
            position: absolute; 
            cursor: pointer; 
            top: 0;   
            left: 0;  
            right: 0;   
            bottom: 0;
            transition: .4s;
            border-radius: 34px;
        }
        
        /* Estilo para el slider antes de ser activado */
        
        .slider:before {
             position: absolute;
            content: "";  
            height: 26px;
            width: 26px;
            left: 4px;    
            bottom: 4px;     
            transition: .4s;
            border-radius: 50%;
        }
        
        /* Estilo cuando el input está marcado */
        
        input:checked + .slider {
            background-color: #333; 
        }
        
        /* Mover el slider cuando el input está marcado */
        
        input:checked + .slider:before {
            transform: translateX(26px);       
        }
