body {
  background-color: #ffffff;
  color: #000000;
}

header {
  background-color: #333;
  color: #fff;
}



      nav ul li a {
        color: #fff;
      }

.card {
    background-color: #fff;
    border: 1px solid #ccc;
  }


footer {
  background-color: #333;
  color: #fff;
}