body {
  background-color: #EAE2B7;
  color: #000000;
}

header {
  background-color: #003049;
  color: #fff;
}



      nav ul li a {
        color: #fff;
      }

.card {
    background-color: #fff;
    border: 2px solid #ccc;
  }

  #cines {
    background-color: #f5f5f5;
  }

  .carta-auditorio {
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }


  
    


footer {
  background-color: #F77F00;
  color: #000000;
}